.vscode
__pycache__
.coverage
htmlcov/
erd.dot
aliases.bash
script.txt
note.txt
test_api/
venv/
db.sqlite3

# staticfiles
/staticfiles
!temp

# Unit test / coverage reports
htmlcov
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/